## Cleans TRACE Corporate Bond Data

In [1]:
# Imports
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
from dateutil.relativedelta import *
from pandas.tseries.offsets import *

In [2]:
# Loads in subset of prof Yoshio's data
with pd.read_csv("prof_yoshio_data/trace_credit_spreads.csv", chunksize=1000) as reader:
    data = reader.get_chunk()

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   cusip_id                1000 non-null   object
 1   date                    1000 non-null   int64
 2   price                   1000 non-null   float64
 3   volume                  1000 non-null   int64
 4   ISSUE_ID                1000 non-null   int64
 5   ISSUER_ID               1000 non-null   int64
 6   PROSPECTUS_ISSUER_NAME  1000 non-null   object
 7   MATURITY                1000 non-null   int64
 8   SECURITY_LEVEL          1000 non-null   object
 9   OFFERING_AMT            1000 non-null   int64
 10  OFFERING_DATE           1000 non-null   int64
 11  OFFERING_PRICE          852 non-null    float64
 12  INTEREST_FREQUENCY      1000 non-null   int64
 13  COUPON                  1000 non-null   float64
 14  standard                1000 non-null   int64
 15  putop                   1000 non-null   int64
 16  conv                    1000 non-null   int64
 17  junior                  1000 non-null   int64
 18  cusip                   1000 non-null   object
 19  CALLABLE                842 non-null    object
 20  MAKE_WHOLE              842 non-null    object
 21  INDUSTRY_CODE           1000 non-null   int64
 22  SIC_CODE                1000 non-null   int64
 23  rating_date_spr         1000 non-null   int64
 24  rating_spr              1000 non-null   object
 25  rating_mdy              987 non-null    object
 26  rating_date_mdy         0 non-null      float64
 27  SP_rat                  995 non-null    float64
 28  Moody_rat               987 non-null    float64
 29  AMOUNT_OUTSTANDING      1000 non-null   int64
 30  month1                  1000 non-null   int64
 31  accrued_interest        1000 non-null   float64
 32  tau                     1000 non-null   float64
 33  age                     1000 non-null   float64
 34  rating                  1000 non-null   int64
 35  ytm                     927 non-null    float64
 36  duration                927 non-null    float64
 37  tr_dirty_price          927 non-null    float64
 38  tr_ytm                  927 non-null    float64
 39  cs                      927 non-null    float64
dtypes: float64(14), int64(18), object(8)
memory usage: 312.6+ KB

In [12]:
data.memory_usage(deep=True) \
# .gt(8000)

Index                       128
cusip_id                  66000
date                       8000
price                      8000
volume                     8000
ISSUE_ID                   8000
ISSUER_ID                  8000
PROSPECTUS_ISSUER_NAME    71088
MATURITY                   8000
SECURITY_LEVEL            60000
OFFERING_AMT               8000
OFFERING_DATE              8000
OFFERING_PRICE             8000
INTEREST_FREQUENCY         8000
COUPON                     8000
standard                   8000
putop                      8000
conv                       8000
junior                     8000
cusip                     66000
CALLABLE                  53892
MAKE_WHOLE                53892
INDUSTRY_CODE              8000
SIC_CODE                   8000
rating_date_spr            8000
rating_spr                59165
rating_mdy                59325
rating_date_mdy            8000
SP_rat                     8000
Moody_rat                  8000
AMOUNT_OUTSTANDING         8000
month1                     8000
accrued_interest           8000
tau                        8000
age                        8000
rating                     8000
ytm                        8000
duration                   8000
tr_dirty_price             8000
tr_ytm                     8000
cs                         8000
dtype: int64

As expected all "object" (ie. string) columns use up the majority of the memory. The rest (float/int64s) are using 8 bytes, however these may also be reduced to 16 or 32.

In [15]:
df = data.copy()
df.columns = map(str.lower, df.columns)

In [102]:
# Cleans data types to minimze file size
# String/text columns
# df["cusip_id"] = df["cusip_id"].astype('string[pyarrow]')
# df['prospectus_issuer_name']
# # 'security_level could be categorical?
# df['cusip']

# df["callable"]  = df["callable"].astype('bool') 
# df['make_whole']

# df['security_level']
# df['rating_spr'] = df['rating_spr'].astype('category')
# df['rating_mdy']

# df.drop([sp_rat, moody_rat, rating])

# Float/Integer columns
# df['price'].astype('float32')
# df['volume'].astype('int32')
# df['offering_amt'].astype('int32')
# df['offering_price'].astype('float32')
# df['interest_frequency'].astype('int8')
# df['coupon'].astype('float32')
df['']

# Dates
# formula to convert to datetime: df['date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
# df['rating_date_spr'] = df['rating_date_spr'].astype('int32')
# df['rating_date_mdy']
# df['date']
# df['maturity']
# df['offering_date']

0      8.875
1      8.875
2      8.875
3      8.875
4      8.875
       ...
995    1.625
996    1.625
997    1.625
998    1.625
999    1.625
Name: coupon, Length: 1000, dtype: float32

In [34]:
df.memory_usage(deep=True)

Index                       128
cusip_id                  66000
date                       8000
price                      8000
volume                     8000
issue_id                   8000
issuer_id                  8000
prospectus_issuer_name    71088
maturity                   8000
security_level            60000
offering_amt               8000
offering_date              8000
offering_price             8000
interest_frequency         8000
coupon                     8000
standard                   8000
putop                      8000
conv                       8000
junior                     8000
cusip                     66000
callable                   1000
make_whole                53892
industry_code              8000
sic_code                   8000
rating_date_spr            8000
rating_spr                 1837
rating_mdy                59325
rating_date_mdy            8000
sp_rat                     8000
moody_rat                  8000
amount_outstanding         8000
month1                     8000
accrued_interest           8000
tau                        8000
age                        8000
rating                     8000
ytm                        8000
duration                   8000
tr_dirty_price             8000
tr_ytm                     8000
cs                         8000
dtype: int64