Version notes:
- need to remove bonds which do not have returns on consecutive months (or go back and see why this is) (Example: issue id 5)

# ML Analysis

In [1]:
import pandas as pd
import numpy as np

## Data
Data are from 'data_cleaning.ipynb', which uses a subset of merged TRACE and Mergent FISD daily bond data. It follows the sample exclusion criteria of Bai, Bali & Wen (2019) and aggregates returns to monthly based on their methodologies.

In [135]:
data = pd.read_csv('monthly_data.csv', index_col=0)

In [7]:
data.head()

,date,issue_id,cusip_id,volume,issuer_id,prospectus_issuer_name,maturity,offering_amt,interest_frequency,cusip,...,rating_spr,rating_mdy,amount_outstanding,tau,age,ytm,duration,tr_dirty_price,tr_ytm,return
0,2002-08-31,98694,010392DN5,25000.0,86.0,ALABAMA PWR CO,2004-08-15,250000.0,2.0,010392DN5,...,A,A2,250000.0,1.972603,3.038356,3.672086,1.872172,109.77133,2.142072,0.031350
1,2002-08-31,99961,010392DP0,15000.0,86.0,ALABAMA PWR CO,2007-10-01,200000.0,2.0,010392DP0,...,A,A2,200000.0,5.101370,2.931507,4.540522,4.299664,120.46437,3.339660,0.065160
2,2002-08-31,144179,00079FAW2,20000.0,37284.0,ABN AMRO BK N V,2003-12-19,4500.0,2.0,00079FAW2,...,AA,Aa2,4500.0,1.315068,0.200000,12.814093,1.230101,115.34654,1.844255,0.130164
3,2002-08-31,97686,013104AE4,215000.0,93.0,ALBERTSONS INC,2009-08-01,350000.0,2.0,013104AE4,...,BBB+,Baa1,350000.0,6.936986,3.098630,5.601379,5.647303,119.27208,3.834566,0.055352
4,2002-08-31,102864,029050AB7,2000000.0,33708.0,AMERICAN PLUMBING & MECHANICAL,2008-10-15,125000.0,2.0,029050AB7,...,B-,B3,125000.0,6.142466,2.734246,29.812586,3.527641,148.25096,3.569999,-0.324551

Following Moritz and Zimmerman (2016) (MZ), the goal is to estimate the expected return of stock i in time period t+1, conditional on information in period t.

In the context of corporate bonds, our aim will be to predict the return of bond i. Then based on the predicted return for t+1, bonds are sorted into deciles based on the expected return, and the trading strategy goes long the top decile (ie. highest predicted returns) and short the bottom decile. The out-of-sample test is implemented on a rolling basis: the model is estimated every year, using data from the past 5 years. Returns are predicted for the next 12 months, and in each month the decile portfolio strategy is implemented.

Given the bond characteristics, such as credit rating, duration, and yield-to-maturity (which are all known factors to affect returns), three types of return models can be implemented. The first can focus on raw returns, the second could focus on returns in "excess" of these other factors, and the third can incorporate these characteristics and return-based factors simultaneously. The first model ignores potential correlation between the return-based factors and other bond characteristics, however it follows Moritz and Zimmerman's methodology. The second model would involve first orthogonalizing returns to the bond factors (using linear regression), and then predicting the residual returns; this is appealing, but introduces estimation uncertainty (ie. what if the relationship is non-linear). Lastly, the third methodology is the most flexible. For example, it may be optimal to first sort on duration, and then on past returns etc. 


Thus, the outcome variables (ie. to be predicted) is the next month's return, up to the next 11 months. ~~To simplify things, it may be worthwhile to consider a buy-and-hold strategy: estimate the model, predict the next cummulative X month return (say 3 or 12 months), sort stocks, and go long/sort the portfolios with a holding period of X months. This would have significantly less turnover and hence less transaction costs. This could be used as a robustness check.~~ (This is impractical data wise)

The predictor variables are the past 24 months of 1 month returns (ie. the return over month t-k to t-k+1 for k = (1,...24)). The notation used by Moritz and Zimmerman is $ R_{i,t}(k,1) $. Thus the tree-based model effectively estimates a more complicated version of:

$
r_{i,t+1} = \mu_{1t} I(R_{i,t}(k,1) \lt \tau_t) + \mu_{2t} I(R_{i,t}(k,1) \ge \tau_t)
$

Where $\mu_1t$ can be interpreted as the return on a portfolio for which all stocks $i$ satisfy $R_{i,t}(k,1) \lt \tau_t$ in period $t$. Hence instead of simply sorting on a particular decile, stocks are sorted deeply on potentially many different criteria.

In terms of implementation practicicality, the ML model can be estimated akin to the Fama-MacBeth procedure. Using the past 5 years (60 months) of data, predictions can be formed. The estimation is over the time-dimension (in an OLS framework equivalent to averaging the results of 60 cross-sectional regressions), while the prediction is over the cross-sectional dimension (ie. bonds are ranked by highest return in the next cross-section). 

Hence the data should be indexed at the bond-month level (ie. all predictors and outcomes should be aligned to month t for bond i). Thus estimating a model for bond i using data from t-60 to t is equivalent to a pooled cross-section.

## Summary Stats

In [136]:
# Chronological order, indexes by month-bond
data = data.sort_values(by=['date', 'issue_id'])
data = data.set_index(['date', 'issue_id'])

In [43]:
print('There are', len(data.index.get_level_values(0).unique()), ' unique months in the panel')

There are 234  unique months in the panel

In [52]:
bond_count = {}
for month in data.index.get_level_values(0).unique():
    bond_count[month] = len(data.loc[month])

bonds = pd.DataFrame.from_dict(bond_count, orient='index', columns=['Bond Count'])

In [61]:
print('There are on average ', bonds.describe().loc['mean'][0].astype(int), 
      ' bonds in each monthly cross-section, with as few as ', bonds.describe().loc['min'][0], 
      ' and as many as ', bonds.describe().loc['max'][0])

There are on average  373  bonds in each monthly cross-section, with as few as  190.0  and as many as  594.0

## Outcome-Predictor Organization

Since predictors and outcomes are both returns, the notation will follow from MZ, where predictors will be denoted as R(k,1) (ie. the historical 1 month return for month k), while the outcome will be denoted as r(k,t) (ie. the t-month cummulative return of holding the bond k months ahead). As mentioned previously, the main outcomes will be {r(1,1),...,r(12,1)} ~~as well as {r(1,3),r(1,12)}.~~

In [424]:
df = data.copy()

In [425]:
# Predictors: Past 1-month Returns
for i in range(24):
    df['R('+str(i)+',1)'] = df.groupby(level=1)['return'].shift(i+1)

In [395]:
# Example of predictors
# df.xs(54, level=1).iloc[:,19:]

In [426]:
# Outcomes:
# 12 months of 1-month returns
for i in range(12):
    df['r('+str(i+1)+',1)'] = df.groupby(level=1)['return'].shift(-(i+1))
    
# Buy and hold returns (ChatGPT code that doesnt work)
# df['r(1,3)'] = df.groupby(level=1)['return'].shift(-1).groupby(level=1).rolling(3).apply(lambda x: (1+x).prod()-1).groupby(level=1).shift(-2).reset_index(drop=True)
# df['r(1,12)'] = ((1+df.groupby(level=1)['return'].shift(-1)).groupby(level=1).cumprod() - 1).groupby(level=1).nth[11]

In [427]:
# df.xs(54, level=1).iloc[:,19:]

In [428]:
# group = df.groupby(level=1)['return'].shift(-1).rolling(3).apply(lambda x: (1+x).prod()-1).groupby(level=1).shift(-2)
# # Correct output
# df.xs(54, level=1)['return'].shift(-1).rolling(3).apply(lambda x: (1+x).prod()-1).shift(-2)

In [429]:
df.iloc[:,19:]

                       return    R(0,1)  R(1,1)  R(2,1)  R(3,1)  R(4,1)  \
date       issue_id
2002-07-31 38       -0.020465       NaN     NaN     NaN     NaN     NaN
           54        0.059929       NaN     NaN     NaN     NaN     NaN
           90        0.070783       NaN     NaN     NaN     NaN     NaN
           91        0.039458       NaN     NaN     NaN     NaN     NaN
           92        0.083611       NaN     NaN     NaN     NaN     NaN
...                       ...       ...     ...     ...     ...     ...
2021-12-31 1002439   0.025130  0.018604     NaN     NaN     NaN     NaN
           1005099   0.008477  0.005862     NaN     NaN     NaN     NaN
           1005163   0.021746  0.008483     NaN     NaN     NaN     NaN
           1006823   0.014629       NaN     NaN     NaN     NaN     NaN
           1006831   0.021220       NaN     NaN     NaN     NaN     NaN

                     R(5,1)  R(6,1)  R(7,1)  R(8,1)  ...    r(3,1)    r(4,1)  \
date       issue_id                                  ...
2002-07-31 38           NaN     NaN     NaN     NaN  ...  0.018710  0.698084
           54           NaN     NaN     NaN     NaN  ... -0.119249  0.778761
           90           NaN     NaN     NaN     NaN  ...  0.103232  0.146729
           91           NaN     NaN     NaN     NaN  ...  0.105658  0.149718
           92           NaN     NaN     NaN     NaN  ...  0.127010  0.099970
...                     ...     ...     ...     ...  ...       ...       ...
2021-12-31 1002439      NaN     NaN     NaN     NaN  ...       NaN       NaN
           1005099      NaN     NaN     NaN     NaN  ...       NaN       NaN
           1005163      NaN     NaN     NaN     NaN  ...       NaN       NaN
           1006823      NaN     NaN     NaN     NaN  ...       NaN       NaN
           1006831      NaN     NaN     NaN     NaN  ...       NaN       NaN

                       r(5,1)    r(6,1)    r(7,1)    r(8,1)    r(9,1)  \
date       issue_id
2002-07-31 38        0.037567 -0.184631  0.123870  0.096401  1.486548
           54        0.067102 -0.228833 -0.059902  0.432816  1.519604
           90        0.119039  0.056269  0.090864  0.105388  0.088816
           91        0.129472  0.054685  0.065900  0.113197  0.098663
           92        0.103820  0.124113  0.042410  0.132478  0.105280
...                       ...       ...       ...       ...       ...
2021-12-31 1002439        NaN       NaN       NaN       NaN       NaN
           1005099        NaN       NaN       NaN       NaN       NaN
           1005163        NaN       NaN       NaN       NaN       NaN
           1006823        NaN       NaN       NaN       NaN       NaN
           1006831        NaN       NaN       NaN       NaN       NaN

                      r(10,1)   r(11,1)   r(12,1)
date       issue_id
2002-07-31 38        0.362272  0.576254  0.040227
           54        0.357057  0.503291  0.133504
           90        0.102074  0.084817  0.033955
           91        0.107632  0.063911  0.059486
           92        0.096793  0.060019  0.070597
...                       ...       ...       ...
2021-12-31 1002439        NaN       NaN       NaN
           1005099        NaN       NaN       NaN
           1005163        NaN       NaN       NaN
           1006823        NaN       NaN       NaN
           1006831        NaN       NaN       NaN

[87369 rows x 37 columns]

## Model Estimation

Several models can be implemented. 

1) OLS
- All 24 past returns can be used as predictors

2) Regularization
- Same predictors as OLS, but can include all combinations of 2 or 3 way interactions
- LASSO seems like an obvious candidate

3) Regression Tree
- Can be used to demonstrate the underlying mechanics and interpretation
- Will likely overfit, but still worthwhile to implement

4) Random Forest
- Follows from MZ

5) XGBoost
6) Neural Network???

Regardless of which model is implemented, the out-of-sample procedure is identical. 

MZ don't explicitly use cross-validation to tune hyperparameters, noting "we construct 200 tree-based conditional portfolio sorts and we use 8 out of 25 regressors in each of them. We have tried other values for the [hyperparameters] but have found that results do not vary much with these choices. We settled on the share of 30 percent of regressors because it is a standard 
recommendation in the random forest literature, and we chose B = 200 because higher values did not have any apparent benefit for the estimation but are more costly in terms of computation."

The out-of-sample procedure is as follows:
1) Estimate the model using data from the past 5 years (60 months)
2) Predict returns for the next 12 months
3) Based on the predictions, for each month, sort bonds into deciles, and go long the top decile and short the bottom decile
4) The trading strategy rebalances monthly based on the rankings from the previous step
5) After 1 year, the model is re-estimated and the process repeats

An alternative strategy, which would reduce monthly turnover, could re-rank bonds based on their average decile over the next 12 months, and then go long/short the top/bottom decile of the second-order sorting. The long/short would be held for the next 12 months, and the strategy would be rebalanced annually.

In [457]:
model_data = df.loc["2004-7":"2021-01"].dropna()

In [463]:
X = model_data.loc[:,'R(0,1)':'R(23,1)']
Y = model_data.loc[:,'r(1,1)':'r(12,1)']

In [695]:
Y.loc[Y.index.levels[0][30:].values[59]]

,"r(1,1)","r(2,1)","r(3,1)","r(4,1)","r(5,1)","r(6,1)","r(7,1)","r(8,1)","r(9,1)","r(10,1)","r(11,1)","r(12,1)"
issue_id,,,,,,,,,,,,
38,0.292188,0.063450,0.157803,0.126272,0.151404,0.147491,0.127401,0.068858,0.115163,0.095213,0.124382,0.082817
40,0.347938,0.052183,0.108855,0.187028,0.185559,0.071705,0.114273,0.259142,0.093332,0.055571,0.045130,-0.129432
42,0.008122,0.260481,0.123292,0.111000,0.129131,0.059505,-0.691272,0.896378,0.389436,0.142007,0.418304,0.073751
49,0.146365,0.212577,0.144547,0.142499,0.095646,0.098413,0.079187,0.128141,0.119459,0.036796,-0.211598,-0.517873
54,0.134502,0.087705,0.095972,0.103386,0.091127,0.114803,0.110205,0.094330,0.110527,0.092015,0.054027,0.119238
...,...,...,...,...,...,...,...,...,...,...,...,...
421019,0.077546,0.054982,0.047093,0.068140,0.056328,0.060932,0.063587,0.064364,0.047158,0.050541,0.019353,0.023877
421021,0.076921,0.044206,0.050392,0.092635,0.063559,0.080179,0.060413,0.103776,0.035605,0.031145,0.035950,0.017459
424130,0.031715,0.068958,0.056901,0.098819,0.069274,0.098368,0.057985,0.093129,0.042094,0.036386,0.034814,0.052482
424132,0.035825,0.049191,0.048624,0.051080,0.048160,0.057280,0.030341,0.046868,0.046167,0.049919,0.039500,0.045453
424186,0.050847,0.060548,0.034350,0.047176,0.038660,0.032628,0.055672,0.047317,0.033024,0.060306,0.042975,0.021088

In [696]:
model = OLS(Y.loc[Y.index.levels[0][30:].values[0:60]],
            X.loc[X.index.levels[0][30:].values[0:60]]).fit()
Y_hat = model.predict(X.loc[X.index.levels[0][30:].values[59]])

In [697]:
Y_hat

,0,1,2,3,4,5,6,7,8,9,10,11
issue_id,,,,,,,,,,,,
38,0.093057,0.101902,0.066530,0.113536,0.135697,0.110361,0.080868,0.107024,0.097360,0.105947,0.115923,0.071221
40,0.312079,0.463701,0.296168,0.295981,0.298914,0.611639,0.255764,0.324964,0.285876,0.257054,0.201709,0.126248
42,0.408259,0.236835,0.339874,0.270022,0.349737,0.259460,0.179268,0.273768,0.230586,0.280079,0.244978,0.297566
49,0.123390,0.366565,0.227767,0.393630,0.128167,0.267356,0.226483,0.219418,0.303092,0.136788,0.260741,0.202211
54,0.223619,0.162368,0.165946,0.147241,0.190447,0.140338,0.136561,0.127489,0.126935,0.137301,0.106677,0.149046
...,...,...,...,...,...,...,...,...,...,...,...,...
421019,0.062808,0.066789,0.066952,0.069528,0.067439,0.068108,0.069506,0.066308,0.065163,0.068524,0.070079,0.066900
421021,0.059089,0.090064,0.071397,0.078186,0.066467,0.077092,0.074228,0.068244,0.072093,0.071438,0.078398,0.075984
424130,0.040179,0.114039,0.065233,0.096155,0.065075,0.096308,0.079213,0.073024,0.078177,0.082008,0.079827,0.083812
424132,0.046665,0.063711,0.058163,0.064623,0.058468,0.065497,0.061097,0.061488,0.056401,0.062802,0.059919,0.060331
424186,0.061152,0.042322,0.061112,0.049365,0.069307,0.049896,0.069670,0.054085,0.059107,0.057604,0.064517,0.058698

In [537]:
from statsmodels.api import OLS
def ols_model(y,x,start):
    '''
    Function to estimate a simple OLS model
    '''
    
    model = OLS(y.loc[y.index.levels[0][30:].values[start:start+60]],
                x.loc[x.index.levels[0][30:].values[start:start+60]]).fit()
    Y_hat = model.predict()
    
    return Y_hat

In [542]:
Y_hat = pd.DataFrame(ols_model(Y,X,0), columns=Y.columns+"_hat", index=Y.loc[Y.index.levels[0][30:].values[0:60]].index)
Y_hat

                     r(1,1)_hat  r(2,1)_hat  r(3,1)_hat  r(4,1)_hat  \
date       issue_id
2005-01-31 38          0.228710    0.299317    0.181720    0.190190
           54          0.244158    0.277772    0.175267    0.184570
           96          0.077054    0.087531    0.078603    0.081377
           173         0.073756    0.072752    0.057693    0.063760
           175         0.078423    0.088676    0.072426    0.074178
...                         ...         ...         ...         ...
2009-12-31 421019      0.062808    0.066789    0.066952    0.069528
           421021      0.059089    0.090064    0.071397    0.078186
           424130      0.040179    0.114039    0.065233    0.096155
           424132      0.046665    0.063711    0.058163    0.064623
           424186      0.061152    0.042322    0.061112    0.049365

                     r(5,1)_hat  r(6,1)_hat  r(7,1)_hat  r(8,1)_hat  \
date       issue_id
2005-01-31 38          0.265080    0.166350    0.175022    0.137613
           54          0.255868    0.149085    0.136426    0.175479
           96          0.072224    0.085996    0.079236    0.073472
           173         0.071111    0.068056    0.069256    0.053961
           175         0.075968    0.086365    0.075780    0.072801
...                         ...         ...         ...         ...
2009-12-31 421019      0.067439    0.068108    0.069506    0.066308
           421021      0.066467    0.077092    0.074228    0.068244
           424130      0.065075    0.096308    0.079213    0.073024
           424132      0.058468    0.065497    0.061097    0.061488
           424186      0.069307    0.049896    0.069670    0.054085

                     r(9,1)_hat  r(10,1)_hat  r(11,1)_hat  r(12,1)_hat
date       issue_id
2005-01-31 38          0.308361     0.189268     0.249855     0.246217
           54          0.292251     0.190848     0.255654     0.238806
           96          0.085633     0.085915     0.081381     0.088758
           173         0.073906     0.071272     0.065781     0.067791
           175         0.075123     0.080332     0.075258     0.086371
...                         ...          ...          ...          ...
2009-12-31 421019      0.065163     0.068524     0.070079     0.066900
           421021      0.072093     0.071438     0.078398     0.075984
           424130      0.078177     0.082008     0.079827     0.083812
           424132      0.056401     0.062802     0.059919     0.060331
           424186      0.059107     0.057604     0.064517     0.058698

[7418 rows x 12 columns]

In [597]:
def compute_deciles(df):
    """
    Computes deciles of each column of a multi-index pandas dataframe for every month.

    Parameters:
        df (pd.DataFrame): A multi-index pandas dataframe.

    Returns:
        deciles (pd.DataFrame): A dataframe with deciles for each column of the input dataframe, for every month.
    """

    # Create an empty dataframe to store the deciles
    deciles = []

    # Loop over each month
    for month in df.index.get_level_values('date').unique():

        # Select the data for the current month
        month_data = df.loc[month]

        # Compute the deciles for each column
        deciles_data = month_data.apply(lambda x: pd.qcut(x, 10, labels=False, duplicates='drop'), axis=0)

        # Add the deciles for the current month to the deciles dataframe
        deciles_data.index = pd.MultiIndex.from_product([[month], deciles_data.index])
        deciles.append(deciles_data)
   
    deciles_df = pd.concat(deciles)
    
    return deciles_df

In [599]:
deciles = compute_deciles(Y_hat)
deciles.columns = deciles.columns+"_decile"

In [600]:
Y_hat_deciles = pd.concat([Y_hat, deciles], axis=1)
Y_hat_deciles.index.names = ['date', 'issue_id']

In [602]:
Y_hat_deciles

                     r(1,1)_hat  r(2,1)_hat  r(3,1)_hat  r(4,1)_hat  \
           issue_id
2005-01-31 38          0.228710    0.299317    0.181720    0.190190
           54          0.244158    0.277772    0.175267    0.184570
           96          0.077054    0.087531    0.078603    0.081377
           173         0.073756    0.072752    0.057693    0.063760
           175         0.078423    0.088676    0.072426    0.074178
...                         ...         ...         ...         ...
2009-12-31 421019      0.062808    0.066789    0.066952    0.069528
           421021      0.059089    0.090064    0.071397    0.078186
           424130      0.040179    0.114039    0.065233    0.096155
           424132      0.046665    0.063711    0.058163    0.064623
           424186      0.061152    0.042322    0.061112    0.049365

                     r(5,1)_hat  r(6,1)_hat  r(7,1)_hat  r(8,1)_hat  \
           issue_id
2005-01-31 38          0.265080    0.166350    0.175022    0.137613
           54          0.255868    0.149085    0.136426    0.175479
           96          0.072224    0.085996    0.079236    0.073472
           173         0.071111    0.068056    0.069256    0.053961
           175         0.075968    0.086365    0.075780    0.072801
...                         ...         ...         ...         ...
2009-12-31 421019      0.067439    0.068108    0.069506    0.066308
           421021      0.066467    0.077092    0.074228    0.068244
           424130      0.065075    0.096308    0.079213    0.073024
           424132      0.058468    0.065497    0.061097    0.061488
           424186      0.069307    0.049896    0.069670    0.054085

                     r(9,1)_hat  r(10,1)_hat  ...  r(3,1)_hat_decile  \
           issue_id                           ...
2005-01-31 38          0.308361     0.189268  ...                  9
           54          0.292251     0.190848  ...                  9
           96          0.085633     0.085915  ...                  6
           173         0.073906     0.071272  ...                  2
           175         0.075123     0.080332  ...                  5
...                         ...          ...  ...                ...
2009-12-31 421019      0.065163     0.068524  ...                  4
           421021      0.072093     0.071438  ...                  5
           424130      0.078177     0.082008  ...                  3
           424132      0.056401     0.062802  ...                  1
           424186      0.059107     0.057604  ...                  2

                     r(4,1)_hat_decile  r(5,1)_hat_decile  r(6,1)_hat_decile  \
           issue_id
2005-01-31 38                        9                  9                  9
           54                        9                  9                  9
           96                        6                  4                  6
           173                       2                  4                  3
           175                       4                  5                  6
...                                ...                ...                ...
2009-12-31 421019                    3                  4                  3
           421021                    4                  3                  5
           424130                    7                  3                  8
           424132                    2                  2                  2
           424186                    0                  5                  0

                     r(7,1)_hat_decile  r(8,1)_hat_decile  r(9,1)_hat_decile  \
           issue_id
2005-01-31 38                        9                  9                  9
           54                        8                  9                  9
           96                        5                  4                  6
           173                       3                  0                  4
           175                       4                  4                  4
...                                ...                ...                ...
2009-12-31 421019                    3                  2                  3
           421021                    4                  3                  4
           424130                    4                  4                  6
           424132                    1                  1                  1
           424186                    3                  0                  2

                     r(10,1)_hat_decile  r(11,1)_hat_decile  \
           issue_id
2005-01-31 38                         9                   9
           54                         9                   9
           96                         6                   5
           173                        3                   2
           175                        5                   3
...                                 ...                 ...
2009-12-31 421019                     3                   4
           421021                     4                   5
           424130                     6                   6
           424132                     2                   1
           424186                     1                   2

                     r(12,1)_hat_decile
           issue_id
2005-01-31 38                         9
           54                         9
           96                         6
           173                        2
           175                        6
...                                 ...
2009-12-31 421019                     3
           421021                     5
           424130                     6
           424132                     2
           424186                     1

[7418 rows x 24 columns]

In [627]:
columns = Y_hat_deciles.columns[:12]
months = Y_hat_deciles.index.get_level_values(0).unique()

In [671]:
# Equal-weighted average
month_ahead_return = []
for column in columns:
    month_ahead_return.append(Y_hat_deciles.groupby(['date', column+'_decile'])[column].mean())
decile_portfolios = pd.concat(month_ahead_return, axis=1)
decile_portfolios.index.names = ['date','decile']

In [681]:
decile_portfolios.loc[(slice(None),[0,9]), :].groupby('date').diff().dropna().iloc[0]

r(1,1)_hat     0.134282
r(2,1)_hat     0.141041
r(3,1)_hat     0.126545
r(4,1)_hat     0.119560
r(5,1)_hat     0.141831
r(6,1)_hat     0.135797
r(7,1)_hat     0.122158
r(8,1)_hat     0.126543
r(9,1)_hat     0.171022
r(10,1)_hat    0.163383
r(11,1)_hat    0.164592
r(12,1)_hat    0.149533
Name: (2005-01-31, 9), dtype: float64